/* 

Project : One Page
Author  : Didem Çetin
Date    : 14 /June /2023
Version : v.1

*/

/*#########################################*/

/*  Root */

:root {
  --templateBgColor: rgb(43, 43, 43);
}

/*#########################################*/

/* Common Property */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;

}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

img:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0, 8);
  transition: 3s all;
  cursor: pointer;
}

i {
  font-size: 1.5rem;
}

.my_clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.myHeading {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-shadow: 0.4px -0.9px rgba(11, 11, 14, 0.9);
  opacity: 0.7;
  margin-top:2rem;
}

/* my special size */

.fSize1 {
  font-size: 1rem;
  /* html in içindeki 15*1=15px */
}
.fSize2 {
  font-size: 2rem;
  /* html in içindeki 15*2=30px */
}
.fSize3 {
  font-size: 3rem;
  /* html in içindeki 15*3=45px */
}
.fSize4 {
  font-size: 4rem;
  /* html in içindeki 15*4=60px */
}

/* Line-clamp */
/* Bu css kodları mesela line-clamp4 için text 4 satırı geçerse 4 satıra kadar gösterilsin */
.line-clamp4 {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.line-clamp8 {
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.line-clamp10 {
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.line-clamp20 {
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/*#########################################*/
/*  Navbar  */

.nav-link {
  color: #ffffff;
  text-transform: uppercase;
 font-size: 0.8rem;
}

.dark_mode {
  background-color: var(--templateBgColor);
  color: #ffffff;
}

 .dark {
    margin-left: 4.5rem;

}



 #language_id {
  
   position: absolute;
   right: 150px;
    
  
}

#userId {
  position: absolute;
  right: 195px;
  
}

#aramaId{
  margin-left: 3rem;
}


input[id="tags"] {
  background-image: url(./img/searching.png);
  background-color: white;
  background-position: 7px 9px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-bottom: 5px;
  font-size: small;
  width: 150px;
  height: 35px;
}

/*  HEADER  */
header {
  background-image: url("./img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 80vh;
  padding-top: 4rem;
}

/* Messages */
#messages {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#messages i {
  /* color: rgb(38, 89, 119); */
  font-size: 5rem;
}

#html5_id{
  color: red;
}
#css3_id{
  color:rgb(46, 46, 192);
}
#js_id{
  color:rgb(255, 145, 0);
}

#reactjs_id{
  color:rgba(46, 180, 241, 0.705);
}

#messages p {
  color: rgb(51, 38, 38);
}

/* Parallax */
#parallax {
  background-color: transparent;
  background-image: url(./img/parallax.jpg);
  background-size: cover;
  height: 35rem;
  padding: 1rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#parallax > h2,
p {
  color: whitesmoke;
}

/* Newspaper */
#newspaper {
  height: 35rem;
  padding: 1rem;
  background-color: transparent;
  background-image: url(./img/haberler.jpg);
  background-size: cover;
  height: 35rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#newspaper p,
h2 {
  color: rgb(209, 180, 180);
  text-align: justify;
}

/*  BLOG  */

#blog {
  background-color: rgb(170, 202, 228);
}

.detail_Page {
  overflow: visible; 
  text-overflow: unset; 
  display: block; 
  -webkit-line-clamp: unset; 

}

/*  CONTACT  */

#contact {
  height: 40rem;
  padding: 1.5rem;
  background-image: url(./img/iletisim.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
}

/*  FOOTER  */

footer {
  min-height: 10rem;
  width: auto;
  color: white;
}

/*  Back Top  */

#back_top {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgb(122, 122, 156);
}

#back_top:hover {
  opacity: 0.8;
}
